<h1>Listing applications</h1>

<%= link_to 'New Application', new_application_path %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Url</th>
      <th>Saved version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.id %></td>
        <td><%= application.title %></td>
        <td><%= application.url %></td>
        <td><%= application.saved_version %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

